/* .navbar-nav nav-item .custom{
    color: red !important; 
} */

/* a{
    color: red !important;
} */
 nav img{
    width: 50px;
 }
 .carousel-inner img{
    max-width: 100%;
    min-width: 300px;
    max-height: 450px;
    min-height: 200px;
 }

 .card img {
  
   transition: 2s;
 }


 .card{
    display: inline-block;
    margin: 0px 0px 20px 10px;
    overflow: hidden;
    
 }

nav{
   
   z-index: 1;
 
}
/* #carouselExampleIndicators{
   margin-top: 100px !important;
} */

#link a{
   text-decoration: none;
   margin-left: 10px;
   font-size: 20px;
}

.footer-img{
   width: 70px;
}

.black{
   color: #000;
}

 .card img:hover{
transform: scale(105%);
 }

 

#bilal img:hover{
transform: scale(105%);
 }



 /* #bilal{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   border: 2px solid #000;
 } */

 #bilal img{
   width: 150px;
   height: 150px;
   border-radius: 50%;
   border: 2px solid green;

 }

 #affan{
   display: flex;
   /* gap: 40px 30px; */
   justify-content: space-around;
   align-content: baseline;
 }

  /* #abc{
  display: flex;
 }  */
 /* a{

 } */

 /* width */
::-webkit-scrollbar {
   width: 10px;
 }
 
 /* Track */
 /* ::-webkit-scrollbar-track {
   background: #f1f1f1;
 } */
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #115740;
   /* background: red; */
   border-radius: 5px;
 }
 ::selection {
   background: #115740;
   color: #fff;
 }